In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
# Matplotlib
%matplotlib inline

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Fukuma,JP,2021-09-22 20:44:28,33.7667,130.4667,75.20,87,32,7.63
1,1,Arraial Do Cabo,BR,2021-09-22 20:39:31,-22.9661,-42.0278,71.46,56,20,11.50
2,2,Atuona,PF,2021-09-22 20:44:28,-9.8000,-139.0333,77.79,73,26,20.96
3,3,Kapaa,US,2021-09-22 20:40:43,22.0752,-159.3190,84.18,70,90,4.00
4,4,Tuktoyaktuk,CA,2021-09-22 20:44:29,69.4541,-133.0374,37.40,65,75,19.57

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Add lat and lng of 0 and zoom
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Fukuma,JP,2021-09-22 20:44:28,33.7667,130.4667,75.20,87,32,7.63
2,2,Atuona,PF,2021-09-22 20:44:28,-9.8000,-139.0333,77.79,73,26,20.96
3,3,Kapaa,US,2021-09-22 20:40:43,22.0752,-159.3190,84.18,70,90,4.00
7,7,Vanimo,PG,2021-09-22 20:44:30,-2.6741,141.3028,76.77,91,97,4.97
10,10,Tukrah,LY,2021-09-22 20:44:31,32.5341,20.5791,78.55,66,4,8.12
21,21,Vaini,TO,2021-09-22 20:44:34,-21.2000,-175.2000,75.36,88,40,10.36
23,23,Isangel,VU,2021-09-22 20:41:17,-19.5500,169.2667,77.95,76,99,5.79
25,25,Hasaki,JP,2021-09-22 20:44:35,35.7333,140.8333,77.40,82,100,14.54
28,28,Nioro,GM,2021-09-22 20:41:28,13.3500,-15.7500,79.52,88,22,5.61
32,32,Puerto Ayora,EC,2021-09-22 20:44:37,-0.7393,-90.3518,80.56,84,74,10.74

In [11]:
preferred_cities_df.count()

City_ID       171
City          171
Country       171
Date          171
Lat           171
Lng           171
Max Temp      171
Humidity      171
Cloudiness    171
Wind Speed    171
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0         Fukuma      JP     75.20  33.7667  130.4667
2         Atuona      PF     77.79  -9.8000 -139.0333
3          Kapaa      US     84.18  22.0752 -159.3190
7         Vanimo      PG     76.77  -2.6741  141.3028
10        Tukrah      LY     78.55  32.5341   20.5791
21         Vaini      TO     75.36 -21.2000 -175.2000
23       Isangel      VU     77.95 -19.5500  169.2667
25        Hasaki      JP     77.40  35.7333  140.8333
28         Nioro      GM     79.52  13.3500  -15.7500
32  Puerto Ayora      EC     80.56  -0.7393  -90.3518

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Fukuma,JP,75.20,33.7667,130.4667,Masago
2,Atuona,PF,77.79,-9.8000,-139.0333,Villa Enata
3,Kapaa,US,84.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
7,Vanimo,PG,76.77,-2.6741,141.3028,Vahmoneh Lodge Vanimo
10,Tukrah,LY,78.55,32.5341,20.5791,Lagrota restaurant
21,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort
23,Isangel,VU,77.95,-19.5500,169.2667,Tanna Lodge
25,Hasaki,JP,77.40,35.7333,140.8333,Hotel Sunrise Choshi
28,Nioro,GM,79.52,13.3500,-15.7500,
32,Puerto Ayora,EC,80.56,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [15]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))